* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}
body{
        background-color: rgba(235, 234, 234, 0.021);
/* background-image: linear-gradient(to bottom right,rgb(107, 32, 226),rgb(222, 8, 241),blue) ; */
}


#container {
    width: 100%;
    height: 100vh;
    /* position: relative; */
}

nav {

    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(27, 118, 223);
        /* background-image: linear-gradient(to bottom right,green,yellow,blue); */
    width: 60%;             
    height: 80px;            
    margin: 50px auto auto auto;    
    /* border-radius: 10px; */
    box-shadow: 15px 15px 10px 0px black;
}

#check{
    display: none;
}
.icons{
    font-size: 2.4rem;
    color: rgb(17, 16, 16);
    font-weight: 600;
    position: absolute;
    right: 5%;
    display: none;
}

.icons:hover{
    color:red;
}



.link-items {
    list-style: none;
    display: inline;
    margin: 0 25px;

}

.links {
            /* font-family: "Knewave", system-ui; */

    text-decoration: none;
    font-weight: 600;
    color: rgb(14, 13, 12);
    font-size: 25px;

}

.links:hover {

    color: #ff0000;
}

#home{
    display: flex;

    margin: 100px auto auto auto;

    width: 80%;
    gap:40px;
        justify-content:center; 

}
.column_left{
    flex:3;
    padding: 30px;
        background-color: rgb(27, 118, 223);
        /* background-image: linear-gradient(to bottom right,green,yellow,blue); */
    box-shadow: 15px 15px 10px 0px black;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center;

}

#username{
    display: inline-block;
    cursor: default;
    font-size: 70px;
    color: red;
        transition: transform 0.3s ease-in-out;
  font-family: "Knewave", system-ui;
  
}

#username:hover {
    transform: scale(1.8);
}
.user-details{
    font-size: 30px;
      font-family: "Silkscreen", sans-serif;
}


.home_img{
    flex:1;
    padding: 0px;
    background-color: white;
    box-shadow: 15px 15px 10px 0px black;
    /* border-radius: 10px; */
    width: 400px;
    height: 500px;
}
#about{
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
    width: 80%;
    justify-content: center; 
    background-color: rgb(27, 118, 223);
        /* background-image: linear-gradient(to bottom right,green,yellow,blue); */

    box-shadow: 10px 10px 10px 0px black;
    /* border-radius: 10px; */

}
.head1{
    text-align: center;
    font-size: 60px;
    font-family: "Knewave", system-ui;
        color: red;
  
}
.about_p{
text-align: justify;
    font-size: 30px;
        line-height: 1.5;
padding: 0 40px 40px 40px;


}

#education{
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
    width: 80%;
    justify-content: center; 
    background-color: rgb(27, 118, 223);
        /* background-image: linear-gradient(to bottom right,green,yellow,blue); */

    box-shadow: 10px 10px 10px 0px black;
    /* border-radius: 10px; */

}

.mca{
text-align: justify;
    font-size: 30px;
    line-height: 1.5;
padding: 0 40px 40px 40px;
}

.bca{
text-align: justify;
    font-size: 30px;
        line-height: 1.5;
padding: 0 40px 40px 40px;
}

.nav-menu{
    padding-top:10px ;
    padding-left: 30px;
}

#icon{
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
    width: 80%;
    justify-content: center; 
    background-color: rgb(27, 118, 223);
        /* background-image: linear-gradient(to bottom right,green,yellow,blue); */

    box-shadow: 10px 10px 10px 0px black;
}




#skills {
    width: 80%; 
    margin: 100px auto;
    background-color: rgb(27, 118, 223);
        /* background-image: linear-gradient(to bottom right,green,yellow,blue); */
    box-shadow: 10px 10px 10px 0px black;
    padding: 40px 0;
    overflow: hidden; 
    /* position: relative; */
}


.skillImage {
    display: flex;
    /* width: max-content;  */
    animation: infiniteScroll 15s linear infinite;
}


.icon {
    padding: 0 30px;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.skilllogo {
    width: 80px; 
    height: auto;
}

/* Scale effect on hover */
.icon:hover {
    transform: scale(1.25);
}


#skills:hover .skillImage {
    animation-play-state:paused;
}

#footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px 5%; 
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
}


.footer-group {
    display: flex;
    align-items: center;
    gap: 15px; 
}
#head2 {
        
    font-size: 1.5rem;
    margin: 0; 

}

.vertical-line {
    border-left: 2px solid white;
    height: 110px;

    margin: 0;
}

.contact  {
    padding: 0;
    margin: 0;
    list-style: none;

}


.address-content {
    line-height: 1.4;
    font-size: 0.9rem;
}

#copyright{
    text-align: center;
    font-weight: 600;
    background-color: black;
  padding-bottom: 40px;
    color: white;
}

.ext{
    text-decoration: none;
    display: block;
}


@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }
    100% {
 
        transform: translateX(-50%);
    }
}

@media(max-width: 768px) {
    nav {
        width: 100%;
        margin: 0;
        position: fixed; /* Keep it at the top */
        top: 0;
        z-index: 1000;
    }

    .icons {
        display: flex; /* Show hamburger icon */

    }

        #closeIcon{
        display: none;
    }
    #check:checked~.icons #menuicon{
        display:none;
    }
    #check:checked~.icons #closeIcon{
        display: block;
    }

    /* Hide the menu list by default on mobile */
    .nav-menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: rgb(27, 118, 223);
        display: none; 
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }

    /* Show menu when checkbox is checked */
    #check:checked ~ .nav-menu {
        display: flex;
    }

    .link-items {
        margin: 15px 0;
        display: block;
    }
}